<header class="container justify-content-center">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-success" href="/">Crypto Market PH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Início</a>
          <a class="nav-link" href="/negociar">Negociar</a>
          <a class="nav-link" href="/historico">Histórico</a>
          <a class="nav-link" href="#">News</a>
        </div>
      </div>
    </div>
  </nav>
</header>